
# Unity 
/[Ll]ibrary/
/[Tt]emp/
/[Bb]uild/
/_Output/
/tmp/

# Unity? MonoDevelop?
*.booproj
*.csproj
*.pidb
*.svd
*.sln
*.unityproj
*.user
*.userprefs
*.suo

# Mac
*.DS_Store
*.DS_Store.meta

#Windows
Thumbs.db
Thumbs.db.meta

# Libre Office
.~lock.*

